{% assign per_page = page.per_page | default: 10 %}
{% assign current_page = page.current_page | default: 1 %}
{% assign offset = current_page | minus: 1 | times: per_page %}
{% assign all_posts = site.album | sort: 'date' | reverse %}
{% assign total_pages = all_posts.size | divided_by: per_page %}
{% assign remainder = all_posts.size | modulo: per_page %}
{% if remainder > 0 %}
  {% assign total_pages = total_pages | plus: 1 %}
{% endif %}
{% if total_pages < 1 %}
  {% assign total_pages = 1 %}
{% endif %}
{% assign pagination_base = '/album/' %}
{% assign album_posts = all_posts | slice: offset, per_page %}

<div class="album-list">
  {% for post in album_posts %}
    <article class="post album-item">
      <div class="entry album-item__entry">
        <div class="album-item__cover">
          <a class="album-cover-link" href="{{ post.url | relative_url }}">
            <span class="album-cover-duotone">
              <img
                class="cover-small"
                alt="{{ post.title | escape }} cover"
                src="{{ post.cover }}"
              />
            </span>
          </a>
        </div>
        <div class="album-item__body">
          <h3>
            <a
            href="{{ post.url | relative_url }}"
            class="read-more">
              {{ post.title }}
            </a>
          </h3>
          <h5>{{ post.year }} | by {{ post.artist }}</h5>
          <h6>posted on {{ post.date | date: "%B %d, %Y" }} </h6>
        </div>
        <div class="album-item__rating">
          <h4>{{ post.rating }}</h4>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
{% include pagination.html %}
