<article>
  <h4 style="margin: 0; text-align: center; background: -webkit-linear-gradient(45deg, rgb(255, 15, 123), rgb(255, 249, 91)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 2rem;">“I write because I don’t know what I think until I read what I say.” – Flannery O’Connor</h4>
  <hr />
  {% assign all_posts = site.posts %}
  {% for collection in site.collections %}
        {% assign all_posts = all_posts | concat: collection.docs %}
      {% endfor %}
  {% assign sorted_posts = all_posts | sort: 'date' | reverse %}
  <section>
    <h4>Latest Posts</h4>
    <ul>
      {% for post in sorted_posts limit:5 %}
        <li>
          {{ post.date | date: "%B %d, %Y" }} - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
</article>
