---
---

@import index, font, basic, layout, classes

{% if site.minimal %}

body > header
  background: $dark
  color: $light
  border-bottom: $line-width solid $dark

{% else %}

body > header
  border-bottom: $line-width solid $dark

{% endif %}

body > footer
  border-top: $line-width solid $dark
  opacity: .9
