---
layout: default
---

{% include reading-progress.html %}
<article class="post-content" lang="{{ page.lang | default: site.lang }}" dir="{{ page.dir | default: page_direction }}">
  {% include meta.html post=page content=content %}

  {% if page.cover %}
    <div class="post-cover">
      <img id="cover" class="post-cover__image" alt="{{ page.title | escape }} cover" src="{{ page.cover }}" />
    </div>
  {% endif %}

  <div class="reading-region prose">
    {{ content }}
  </div>

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
