---
layout: default
---

<article>
  {% include meta.html post=page %}
  
  {% if page.cover %}
    <div style="display: flex; justify-content: center; align-items: center; position: relative">
      <img id="cover" alt="cover" src="{{ page.cover }}" />
      <img id="cover" alt="coverbg" src="{{ page.cover }}" />
    </div>
  {% endif %}
 
  {% if page.rating %}
    <h2 style="display: flex; justify-content: center;">{{ page.rating }}</h2>
  {% endif %}

  {{ content }}
  
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
