---
layout: default
---

<article>
  {% include meta.html post=page %}
  
  <h2>{{ post.rating }}</h2>
  <h3>{{ page.rating }}</h3>
  
  {% if page.cover %}
    <img id="cover" alt="cover" src="{{ page.cover }}" />
  {% endif %}

  {{ content }}
  
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
